.admin-content {
    padding-top: 1rem;
    padding-left: 2rem;
    margin-left: 300px;
    overflow-x: hidden;
}

.admin-content * {
    word-wrap: break-word;
}

.admin-content h1, .admin-content h2 {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.addbook-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 4rem;
    padding-top: 2rem;
}

.addbook-button {
    width: 70px;
}